<!DOCTYPE html>
<html>
    <head>
        <title>CSCB20</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta http-equiv="X-UA-Compatible" content="ie=edge">
        <link href="{{url_for('static', filename='description.css')}}", rel="stylesheet" type="text/css">
        
    </head>
    <body>
        <header>
            <div class="container">
                <div class = "CSCB20"><CSCB20></div>
                <nav>
                    <ul><li><a href="description.html">Home</a></li>
                        <li><a href="Syllabus.html">Syllabus</a></li>
                        <li><a href="Labs.html">Labs/Lecture Slides</a></li>
                        <li><a href="https://piazza.com/class/k5l8ww7kz8l6f0">Piazza</a></li>
                        <li><a href="https://markus.utsc.utoronto.ca/cscb20w20/?locale=en">Markus</a></li>
                        <li><a href="{{url_for('Grades')}}">Grades</a></li>
                        <li><a href="{{url_for('anonFeedback')}}">Anon Feedback</a></li>
                    </ul>       
                </nav>
            </div>
        </header>
        <span class="smalltitle">
            CSCB20-Introduction to Databases and Web Applications <!--Padding is optional-->
          </span>
        <div class= h2>
            <div>
                <h2 class="minititle">Description</h2>
                <p>
                    A practical introduction to databases and Web app development. Databases: terminology and applications; creating, querying and updating databases; the entity-relationship model for database design. Web documents and
                    applications: static and interactive documents; Web servers and dynamic server-generated content; Web application
                    development and interface with databases.
                </p>
            </div>
            <div>
                <h2 class="minititle">Required BackGround</h2>
                <p>
                    Some experience with programming in an imperative language such as Python, Java or C. This course may not be
                    taken after - or concurrently with - any C- or D-level CSC course.

                </p>
            </div>
            <div>
                <h2 class="minititle">Textbooks</h2>
                <p>
                    For a course like this, no single textbook will represent the course expectations well. However, what I will do
                    is provide you weekly reading material (some of which will be mandatory) from other universities, and other
                    places from the web. This material will supplement well with what is taught in the class.

                </p>
            </div>
            <div>
                <h2 class="minititle">Lecture Notes</h2>
                <p>
                    Lecture notes will be available on Blackboard. You are EXPECTED to read the assigned readings before
                    coming to lecture.

                </p>
            </div>
            <div>
                <h2 class="minititle">Final Notes</h2>
                <p>
                    For policies regarding Tutorials, Grading Schemes, Remarks,, Accessibility Needs 
                    and Late and Plagiarism, please check out the Syllabus under the Tab 'Syllabus'.

                </p>
            </div>
            
        </div>
    </body>
   <footer class ="footer">
       <h5>Made By Azeem</h5>
       <br><br>
       <h4><a href="https://web.cs.toronto.edu/contact-us/faculty-directory" class="UofTlink">Uoft Compter Science Dept: Contact</a></h4>
   </footer>
</html>