<!DOCTYPE html>
<html lang="en">
<head>
  <title>Grade Change</title>
  <link rel = "stylesheet" href = "{{url_for('static', filename='css/gradeChange.css')}}">
  <link href="https://fonts.googleapis.com/css?family=Ubuntu&display=swap" rel="stylesheet">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <header class = "header">
    <a class = "logo" href = "/">CSCB20</a>
    <input class = "menu-btn" type = "checkbox" id = "menu-btn">
    <label class = "menu-icon" for = "menu-btn"><span class = "navicon"></span></label>
    <ul class = "menu">
           <li class = "btn1"> <a href = "/">Home</li></a>
            <li class = "btn2"><a href = "{{url_for('syllabus')}}">Syllabus</li></a>
            <li class = "btn3"><a href = "{{url_for('labs')}}">Labs</li></a>
            <li class = "btn4"><a href = "{{url_for('lectures')}}">Lectures</li></a>
            <li class = "btn6"><a href = "{{url_for('team')}}">Course Team</li></a>
            <li class = "btn9"><a href = "{{url_for('Grades')}}">Grades</li></a>
            <li class = "btn9"><a href = "{{url_for('remarkRequest')}}">Remark Requests</li></a>
            <li class = "btn7"><a href = "https://piazza.com/class/k5l8ww7kz8l6f0">Piazza</li></a>
            <li class = "btn8"><a href = "https://markus.utsc.utoronto.ca/cscb20w20">MarkUs</li></a>
            <li class = "btn9"><a href = "{{url_for('anonFeedback')}}">Anon Feedback</li></a>
            <li class = "btn9"><a href = "{{url_for('logout')}}">Logout</li></a>
    </ul>
</span>
</span>
</header>
</head>
<body>
  <h1>Student Grades</h1>
  <div class="Table">
    <div class="TableRow">
    <div class="TableHead"><strong>StudentID</strong></div>
    <div class="TableHead"><strong>A1</strong></div>
    <div class="TableHead"><strong>A2</strong></div>
    <div class="TableHead"><strong>A3</strong></div>
    <div class="TableHead"><strong>Midterm</strong></div>
    <div class="TableHead"><strong>Final</strong></div>
    </div>
    {% for item in student %}
    <div class="TableRow">
    <div class="TableCell">{{ item['StudentID'] }}</div>
    <div class="TableCell">{{ item['A1'] }}</div>
    <div class="TableCell">{{ item['A2'] }}</div>
    <div class="TableCell">{{ item['A3'] }}</div>
    <div class="TableCell">{{ item['Midterm'] }}</div>
    <div class="TableCell">{{ item['Final'] }}</div>
    </div>
      {% endfor %}
    </div>
  <br>
 
  <form action="/gradeTable" method="POST">
    <fieldset>
    <legend class = "p" >Please change/reconfirm all the marks on the following Assignment:</legend>
    <label for="A1" class = "p">A1</label><br>
    <input type="integer" id="A1" name="A1" required><br>
    <label for="A2" class = "p">A2</label><br>
    <input type="integer" id="A2" name="A2" required><br>
    <label for="A3" class = "p">A3</label><br>
    <input type="integer" id="A3" name="A3" required><br>
    <label for="Midterm" class = "p">Midterm</label><br>
    <input type="integer" id="Midterm" name="Midterm" required><br>
    <label for="Final" class = "p">Final</label><br>
    <input type="integer" id="Final" name="Final" required><br>
    <input type="submit" value="Submit" class = "btn">
  </fieldset>
  {% block content %}
		{% with messages = get_flashed_messages() %}
				{% if messages %}
					{% for msg in messages %}
  					  <p>{{msg}}</p>
					{% endfor %}
				{% endif %}
		{% endwith %}
		        </form>
	{% endblock %}
</body>
</html>